<script>
window.onload = function(){
  $('#last_updated_timestamp').each(function(){
    var start_time = new Date($(this).html()*1000);
    var locale = document.querySelector('html').getAttribute('lang')
    var options = {
      weekday: "short",
      month: "2-digit",
      day: "numeric",
    };
    $(this).html(start_time.toLocaleDateString(locale, options) + " " + start_time.toLocaleTimeString())
  })

};
</script>

<div class="row">
  <footer class="page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">Version: {{ version }} | Last Updated: <span id="last_updated_timestamp">{{ last_updated }}</span></div>
  </footer>
</div>
