{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
Welcome!

<table>
  <thead>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Score</th>
    <th>Exciting?</th>
  </thead>
  <tbody>
    {% for game in games %}
      <tr>
        <td>{{game.home_team.name}}</td>
        <td>{{game.away_team.name}}</td>
        <td>{{game.home_score}} - {{game.away_score}}</td>
        <td>{{game.worth_watching()}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

