{% extends 'base.html' %}
{% block title %}Status{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
{% endblock %}
{% block content %}

<script>
window.onload = function(){
  $('#last_updated_timestamp').each(function(){
    var start_time = new Date($(this).html()*1000);
    var locale = document.querySelector('html').getAttribute('lang')
    var options = {
      weekday: "short",
      month: "2-digit",
      day: "numeric",
    };
    $(this).html(start_time.toLocaleDateString(locale, options) + " " + start_time.toLocaleTimeString())
  })

};
</script>

Last Updated: <div id="last_updated_timestamp">{{ last_updated }}</div>

{% endblock %}
