<script>
  function display_highlights_iframe(game_id, highlights_url) {
    div_id = `#highlights-${ game_id }`
    iframe = `<iframe src="${highlights_url}" frameborder="0" scrolling="no" frameborder="0"></iframe>`
    $(div_id).html(iframe);
  }

  function determine_team_name_text(team_row) {
    text = "<a href='/team/" + team_row.id + "'>" + team_row.name + "</a>"
    {% if team is not None %}
      if(team_row.name == "{{ team.name }}" ) {
        text = team_row.name
      }
    {% endif %}
    return text;
  }
  function blur_button_click(game_id) {
    var blur_elements = document.getElementsByClassName("blur-content" + game_id);
    var i;
    var j;
    var blur_buttons = document.getElementsByClassName("blur-button" + game_id);
    for (i = 0; i < blur_buttons.length; i++) {
      ele = blur_buttons[i];
      if (ele.classList.contains("blur")){
        ele.innerHTML = "Reveal All";
        ele.classList.remove("blur");
        ele.classList.add("reveal");
        for (j = 0; j < blur_elements.length; j++) {
          blur_element = blur_elements[j]
          if (!blur_element.classList.contains("blurred-content")){
            blur_element.classList.add("blurred-content");
            var mask_container = $(blur_element).closest('.mask_character_length')
            if (mask_container.length){
              $(blur_element).children('.mask_character_output').html('BLANK');
            }
          }
        }
      }
      else {
        ele.innerHTML = "Blur All"
        ele.classList.remove("reveal");
        ele.classList.add("blur");
        for (j = 0; j < blur_elements.length; j++) {
          blur_element = blur_elements[j]
          if (blur_element.classList.contains("blurred-content")){
            blur_element.classList.remove("blurred-content");
            var mask_container = $(blur_element).closest('.mask_character_length')
            if (mask_container.length){
              $(blur_element).children('.mask_character_output').html($(blur_element).children('.mask_character_original_value').html());
            }
          }
        }
      }
    }
  }

  $(document).ready( function () {
    $('#game-list-new').on( 'init.dt', function () {
      // Datatable done loading...
      $('.blurred-content').click(function() {
        if (this.classList.contains("blurred-content")){
            this.classList.remove("blurred-content");
            var mask_container = $(this).closest('.mask_character_length')
            if (mask_container.length){
              $(this).children('.mask_character_output').html($(this).children('.mask_character_original_value').html());
            }
        } else {
          this.classList.add("blurred-content");
          $(this).find('.mask_character_output').html('BLANK');
        }
      })

      $('.mask_character_length').each(function(){
        if (this.classList.contains("blurred-content")){
          $(this).find('.mask_character_output').html('BLANK');
        }
      })
    }).DataTable({
      "language": {
        "emptyTable": "No games have been played."
      },
      "order": [[2, 'desc']],
      "autoWidth": false,
      "bFilter": false,
      "bInfo": false,
      "bLengthChange": false,
      "bPaginate": true,
      "deferRender": true,

      "processing": true,
      "ajax": {
        {% if team is None %}
        "url": '/api/completed_games',
        {% else %}
        "url": '/api/completed_games/{{ team.id }}',
        {% endif %}
        "dataSrc": 'data'
      },
      "columns": [
        { data: 'home_team["name"]' },
        { data: 'away_team["name"]' },
        { data: 'start_time'},
        { data: 'interest_level'},
        { data: 'date_from_start_time'},
      ],

      {% if request.path == '/' %}
      "pageLength": 13,
      {% else %}
      "pageLength": 8,
      {% endif %}

      "fnDrawCallback": function() {
        $("#game-list-new-header").remove();
      },
      "columnDefs": [
        {
          // home team
          "targets": [0],
          "bSortable": false,
          "createdCell": function (td, cellData, rowData, row, col) {
            $(td).width("30%").css("text-align", "right");
            text = determine_team_name_text(rowData.home_team)
            $(td).html(text);
          }
        },
        {
          // away team
          "targets": [1],
          "bSortable": false,
          "createdCell": function (td, cellData, rowData, row, col) {
            $(td).width("30%").css("text-align", "left");
            text = determine_team_name_text(rowData.away_team)
            $(td).html(text);
          }
        },
        {
          // start time
          "targets": [2],
          "bSortable": false,
          "createdCell": function (td, cellData, rowData, row, col) {
            var start_time = new Date(cellData*1000);
            var locale = document.querySelector('html').getAttribute('lang')
            var options = {
              weekday: "short",
              month: "2-digit",
              day: "numeric",
            };
            $(td).width("20%").css("text-align", "center");
            $(td).html(start_time.toLocaleTimeString());
          }
        },
        {
          // severity badge
          "targets": [3],
          "bSortable": false,
          "createdCell": function (td, cellData, rowData, row, col) {
            $(td).width("20%").css("text-align", "center");

            // interest score/label
            if (rowData.interest_level == 'High'){
              severity_text = "High"
              severity_label = "success"
            }
            else if (rowData.interest_level == 'Medium'){
              severity_text = 'Medium'
              severity_label = 'warning'
            }
            else {
              severity_text = 'Low'
              severity_label = 'danger'
            }

            // local time
            var start_time = new Date(rowData.start_time * 1000);
            var locale = document.querySelector('html').getAttribute('lang')
            var options = {
              weekday: "short",
              month: "2-digit",
              day: "numeric",
              year: "numeric",
            };
            formatted_start_time = start_time.toLocaleDateString(locale, options) + " " + start_time.toLocaleTimeString()

            // questions
            var questions_body = "<tbody>"
            for (let i in rowData.questions) {
              question = rowData.questions[i]
              if (question.answer == 'Yes'){
                question_value_output = `
                  <div id="question-answer-thumbs-up">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewbox="0 0 16 16">
                      <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                    </svg>
                  </div>
                `
              }
              else if (question.answer == 'No'){
                question_value_output = `
                  <div id="question-answer-thumbs-down">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewbox="0 0 16 16">
                      <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
                    </svg>
                  </div>
                `
              }
              else {
                question_value_output = question.answer
              }
              questions_body += `
                <tr class="questions-table-row">
                  <td width="70%"><div>${ question.description }</div></td>
                  <td width="30%">
                    <div class="blur-content blurred-content blur-content${ rowData.id } mask_character_length">
                      <span class="mask_character_output"></span>
                      <span class="mask_character_original_value">${ question_value_output }</span>
                    </div>
                  </td>
                </tr>
              `
            }
            questions_body += "</tbody>"


            // score modifications
            var score_modifications_body = "<tbody>"
            for (let i in rowData.score_modifications) {
              score_modification = rowData.score_modifications[i]
              score_modifications_body += `
              <tr class="score-modifications-table-row">
                <td><div class="blur-content blurred-content blur-content${ rowData.id }">${ score_modification.value }</div></td>
                <td><div class="blur-content blurred-content blur-content${ rowData.id }">${ score_modification.priority }</div></td>
                <td><div class="blur-content blurred-content blur-content${ rowData.id }">${ score_modification.reason }</div></td>
              </tr>
              `
            }
            score_modifications_body += "</tbody>"
            var div_modal = `
              <button type="button" class="btn btn-primary btn-sm game-info-btn" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#gameModal${ rowData.id }">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewbox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
              </button>
              <div class="modal fade" id="gameModal${ rowData.id }" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header text-center" id="game-modal-close">
                      <button type="button" class="btn-close pull-right pull-top" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="game-info-modal-body">
                      <h3 class="modal-title w-100" id="modal-title-game-info">
                        <img src="${ rowData.home_team.logo }" alt="" id="team-logo-game-left" width="50px" height="50px" />${ rowData.home_team.name } - ${ rowData.away_team.name }<img src="${ rowData.away_team.logo }" alt="" id="team-logo-game-right" width="50px" height="50px" />
                      </h3>
                      <div class="row">
                        <div id="game-modal-left">
                          <div class="blur-content blurred-content blur-content${ rowData.id }"><h2>${ rowData.home_team.score }</h2></div>
                        </div>
                        <div id="game-modal-middle">
                          <div class="game-info-attribute last_updated_timestamp">${ formatted_start_time }</div>
                          <div class="game-info-attribute">${ rowData.stadium }, ${ rowData.city }</div>
                          <div class="game-info-attribute">Referee: ${ rowData.referee }</div>
                        </div>
                        <div id="game-modal-right">
                          <div class="blur-content blurred-content blur-content${ rowData.id }"><h2>${ rowData.away_team.score }</h2></div>
                        </div>
                      </div>
                      <hr id="game-modal-title-hr">
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="questions-games-tab-${ rowData.id }" data-bs-toggle="tab" data-bs-target="#questions-${ rowData.id }" type="button" role="tab" aria-controls="questions-${ rowData.id }" aria-selected="true">Insights</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="ratings-games-tab-${ rowData.id }" data-bs-toggle="tab" data-bs-target="#ratings-${ rowData.id }" type="button" role="tab" aria-controls="ratings-${ rowData.id }" aria-selected="false">Ratings</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="highlights-games-tab-${ rowData.id }" data-bs-toggle="tab" data-bs-target="#highlights-${ rowData.id }" type="button" role="tab" aria-controls="highlights-${ rowData.id }" onclick="display_highlights_iframe(${ rowData.id },'${ rowData.highlights_url }')" aria-selected="false">Highlights</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="game-tab-content">
                        <div class="tab-pane fade show active" id="questions-${ rowData.id }" role="tabpanel" aria-labelledby="questions-games-tab-${ rowData.id }">
                          <table class="table table-striped table-bordered table-compact" id="game-questions-table">
                            <thead>
                              <th>Question</th>
                              <th>Answer</th>
                            </thead>
                            ${ questions_body }
                          </table>
                        </div>
                        <div class="tab-pane fade" id="ratings-${ rowData.id }" role="tabpanel" aria-labelledby="ratings-games-tab-${ rowData.id }">
                          <div class="d-flex text-center" id="overall-rating">
                            <div class="d-inline-block">Overall Rating: </div>
                            <div class="d-inline-block blur-content blurred-content blur-content${ rowData.id }" id="overall-rating-num">${ rowData.interest_score } / 100</div>
                          </div>
                          <table class="table table-striped table-bordered table-compact" id="game-score-modifications-table">
                            <thead>
                              <th>Points</th>
                              <th>Priority</th>
                              <th>Description</th>
                            </thead>
                            ${ score_modifications_body }
                          </table>
                        </div>
                        <div class="tab-pane fade" id="highlights-${ rowData.id }" role="tabpanel" aria-labelledby="highlights-games-tab-${ rowData.id }">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary blur-button blur-button${ rowData.id }" id="blur-toggle-button" onclick="blur_button_click(${ rowData.id })">Reveal All</button>
                    </div>
                  </div>
                </div>
              </div>
            `
            $(td).html(div_modal);
          }
        },
        {
          // date_from_start_time
          "aTargets": [4],
          "bVisible": false,
        }
      ],
      "rowGroup": {
        "dataSrc": function (row) {
          return row.date_from_start_time;
        }
      }
    });

    $('#game-list-upcoming').DataTable({
      "language": {
        "emptyTable": "No upcoming games available."
      },
      "order": [[2, 'asc']],
      "ordering": false,
      "autoWidth": false,
      "bFilter": false,
      "bInfo": false,
      "bLengthChange": false,
      "bPaginate": true,
      "deferRender": true,
      "processing": true,
      "ajax": {
        {% if team is None %}
        "url": '/api/upcoming_games',
        {% else %}
        "url": '/api/upcoming_games/{{ team.id }}',
        {% endif %}
        "dataSrc": 'data'
      },
      "columns": [
        { data: 'home_team["name"]' },
        { data: 'away_team["name"]' },
        { data: 'start_time'},
        { data: 'date_from_start_time'},
      ],
      {% if request.path == '/' %}
      "pageLength": 13,
      {% else %}
      "pageLength": 8,
      {% endif %}
      "fnDrawCallback": function() {
        $("#game-list-upcoming-header").remove();
      },
      "columnDefs": [
        {
          // home team
          "targets": [0],
          "bSortable": false,
          "createdCell": function (td, cellData, rowData, row, col) {
            $(td).width("30%").css("text-align", "right");
            text = determine_team_name_text(rowData.home_team)
            $(td).html(text);
          }
        },
        {
          // away team
          "targets": [1],
          "bSortable": false,
          "createdCell": function (td, cellData, rowData, row, col) {
            $(td).width("30%").css("text-align", "left");
            text = determine_team_name_text(rowData.away_team)
            $(td).html(text);
          }
        },
        {
          // start time
          "targets": [2],
          "bSortable": false,
          "createdCell": function (td, cellData, rowData, row, col) {
            var start_time = new Date(cellData*1000);
            var locale = document.querySelector('html').getAttribute('lang');
            var options = {
              weekday: "short",
              month: "2-digit",
              day: "numeric",
            };
            $(td).width("20%").css("text-align", "center");
            $(td).html(start_time.toLocaleTimeString());
          }
        },
        {
          // date_from_start_time
          "bVisible": false,
          "aTargets": [3]
        }
      ],
      "rowGroup": {
        "dataSrc": function (row) {
          return row.date_from_start_time;
        }
      }
    });

  });
</script>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="completed-games-tab" data-bs-toggle="tab" data-bs-target="#completed" type="button" role="tab" aria-controls="completed" aria-selected="true">Fixtures</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="upcoming-games-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="upcoming" aria-selected="false">Schedule</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="live-table-tab" data-bs-toggle="tab" data-bs-target="#live-table" type="button" role="tab" aria-controls="live-table" aria-selected="false">Table</button>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="completed" role="tabpanel" aria-labelledby="completed-games-tab">
    <table id="game-list-new" class="table table-striped table-bordered table-compact">
      <thead id="game-list-new-header"/>
      <thead/>
    </table>
  </div>
  <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-games-tab">
    <table id="game-list-upcoming" class="table table-striped table-bordered table-compact">
      <thead id="game-list-upcoming-header"/>
      <thead/>
    </table>
  </div>
  <div class="tab-pane fade" id="live-table" role="tabpanel" aria-labelledby="live-table-tab">
    {% include 'live_table.html' %}
  </div>
</div>
