{% load set_var %}

{% if game.interest_level == "High" %}
  {% set severity_text = 'High' %}
  {% set severity_label = 'success' %}
{% elif game.interest_level == "Medium" %}
  {% set severity_text = 'Medium' %}
  {% set severity_label = 'warning' %}
{% elif game.interest_level == "Low" %}
  {% set severity_text = 'Low' %}
  {% set severity_label = 'danger' %}
{% endif %}

{% if linkable == 'true' %}
  <a href="#gameModal{{ game.id }}" class="label label-{{ severity_label }}" data-toggle="modal">{{ severity_text }} <span class="glyphicon glyphicon-info-sign"></span></a>
{% else %}
  <span class="label label-{{ severity_label }}">{{ severity_text}}</span>
{% endif %}
