{% extends 'base.html' %}
{% block title %}{{ competition.name }} Table{% endblock %}

{% block content %}
<h3 class="table-name-header" id="table-competition-name">
    <img src="{{ competition.logo }}" alt="" id="competition-logo" width="50px" height="50px" />{{ competition.name }}
</h3>

<script>
  $(document).ready( function () {
    $('#points-table').DataTable({
      "language": {
        "emptyTable": "No games have been played."
      },
      "order": [[0, 'asc']],
      "autoWidth": false,
      "bFilter": false,
      "bInfo": false,
      "bLengthChange": false,
      "bPaginate": false,

      "deferRender": true,
      "processing": true,
      "ajax": {
        "url": '/api/table',
        "dataSrc": 'data'
      },
      "columns": [
        { data: 'place' },
        { data: 'logo' },
        { data: 'points'},
        { data: 'played'},
        { data: 'wins'},
        { data: 'draws'},
        { data: 'loses'},
        { data: 'goals_for'},
        { data: 'goals_against'},
        { data: 'goal_difference'},
      ],

      "columnDefs": [
        { targets: "noSort", orderable: false },
        {
          "aTargets": [0],
          "bSortable": false,
        },
        {
          "targets": 1,
          "bSortable": false,
          "render": function ( data, type, row, meta ) {
            return '<img src="' + row.logo + '" alt="" id="team-logo" width="15px" height="15px" />' + row.name;
          }
        },
        {
          "targets": [2,3,4,5,6,7,8,9],
          "bSortable": false,
        }
      ],
      rowCallback: function (row, data, displayNum) {
        if (displayNum == 0){
          $(row).addClass('champions-row');
        }
        else if (displayNum <= 3){
          $(row).addClass('champions-league-row');
        }
        else if (displayNum == 4){
          $(row).addClass('europa-league-row');
        }
        else if (displayNum >= 17){
          $(row).addClass('relegation-row');
        }
      }
    });
  });
</script>
<table id="points-table" class="table table-hover">
  <thead id="points-table-header"/>
    <tr>
      <th title="Place">#</th>
      <th title="Name">Name</th>
      <th title="Points">Points</th>
      <th title="# of games played">#</th>
      <th title="# of Wins">W</th>
      <th title="# of Draws">D</th>
      <th title="# of Loses">L</th>
      <th title="Goals For">GF</th>
      <th title="Goals Against">GA</th>
      <th title="Goal Difference">GD</th>
    </tr>
  <thead/>
</table>

{% endblock %}
