.blurred-content{
  filter: blur(10px);
}

#main-container {
  padding-top: 20px;
}

#game-list-new {
  clear: both;
  margin-top: 20px;
}

#game-list-upcoming {
  clear: both;
  margin-top: 20px;
}

#game-modal-score {
  display: inline;
}

#game-attributes-table {
  clear: both;
  margin-top: 20px;
}

#game-score-modifications-table {
  clear: both;
  margin-top: 20px;
}

#game-summary {
  margin-bottom: 20px;
}

#blur-toggle-button {
  float: left;
}

.table-name-header {
  margin-top: 5px;
}

#last-sync-footer {
  margin-bottom: 0px;
}

#footer {
  margin-top: 10px;
}

#competition-logo {
  margin-right: 10px;
  margin-bottom: 10px;
}

.team-logo {
  margin-right: 10px;
  margin-bottom: 10px;
}

.team-logo-navbar {
  float:left;
  margin-right: 20px;
}

.game-info {
  font-size: 12px
}
