a {
  text-decoration: none;
  color: #428bca;
}

.blurred-content {
  filter: blur(10px);
  cursor: help !important;
  background-color: white;
}

.blur-content {
  cursor: pointer;
}

#game-list-new {
  clear: both;
  margin-top: 20px;
}

#game-list-upcoming {
  clear: both;
  margin-top: 20px;
}

#game-score-modifications-table {
  clear: both;
}

#blur-toggle-button {
  float: left;
  background-color: #428bca;
}

.table-name-header {
  margin-top: 5px;
}

#last-sync-footer {
  margin-bottom: 0px;
}

#version-footer {
  padding-bottom: 20px;
}

#footer {
  margin-top: 10px;
}

#competition-logo {
  margin-right: 10px;
  margin-bottom: 10px;
}

#team-logo {
  margin-right: 10px;
  margin-bottom: 3px;
  margin-top: 1px;
}

#team-logo-game-left {
  margin-right: 10px;
}

#team-logo-game-right {
  margin-left: 10px;
}

.team-logo-navbar {
  float:left;
  margin-right: 20px;
  margin-top: -2px;
}

.game-info-attribute {
  font-size: 12px
}

#game-modal-close {
  padding-bottom: 0px;
  text-align:  center;
  border-bottom:  0px;
}

#game-modal-left {
  float: left;
  padding: 10px;
  width: 25%;
  text-align: right;
}

#game-modal-middle {
  float: left;
  width: 50%;
}

#game-modal-right {
  float: right;
  padding: 10px;
  width: 25%;
  text-align: left;
}

.nav-image {
  margin-top: 3px;
  float: right;
}

.champions-row {
  background-color: #FFEC8B;
}

.champions-league-row {
  background-color: #C8F5B5;
}

.europa-league-row {
  background-color: #DBDCDC;
}

.relegation-row {
  background-color: #F5B5B5;
}

.highlighted-row {
  background-color: #337AB7;
}

#question-answer-thumbs-up {
  color:green;
}

#question-answer-thumbs-down {
  color:red;
}

.mask_character_original_value {
  display: none;
}

#table-competition-name {
  margin-bottom: -7px;
}

.score-modifications-table-row {
  text-align: left;
}

.nav-link {
  color: #428bca;
}

a:hover {
  text-decoration: underline;
}

.game-info-btn {
  color: #428bca;
}

.game-info-btn:hover {
  cursor: pointer;
}

#modal-title-game-info {
  padding:  0px;
}

#game-info-modal-body {
  padding-top:  0px;
}

#game-modal-title-hr {
  margin-top: 0px;
}

#game-tab-content {
  padding-top: 10px;
}

#overall-rating-num {
  padding-left: 10px;
  padding-bottom: 10px;
}

#overall-rating {
  padding-left: 5px;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color:  #337ab7;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.page-link {
  color: #337ab7;
}

.question-description-game-modal {
  text-align: left;
}

#table-name {
  white-space: nowrap;
}