body {
  font-size:  15px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main-container {
  padding-top: 20px;
}

#team-names-navbar {
  width:  22%;
  padding-left: 50px;
}

.highlights_url {
  width: 450px;
  height: 350px;
}
