.blurred-content{
  filter: blur(10px);
  cursor: help !important;
}

.blur-content {
  cursor: pointer;
}

#main-container {
  padding-top: 20px;
}

#game-list-new {
  clear: both;
  margin-top: 20px;
}

#game-list-upcoming {
  clear: both;
  margin-top: 20px;
}

#game-modal-score {
  display: inline;
}

#game-attributes-table {
  clear: both;
  margin-top: 20px;
}

#game-score-modifications-table {
  clear: both;
}

#blur-toggle-button {
  float: left;
}

.table-name-header {
  margin-top: 5px;
}

#last-sync-footer {
  margin-bottom: 0px;
}

#footer {
  margin-top: 10px;
}

#competition-logo {
  margin-right: 10px;
  margin-bottom: 10px;
}

#team-logo {
  margin-right: 10px;
  margin-bottom: 3px;
  margin-top: 1px;
}

#team-logo-game-left {
  margin-right: 10px;
}

#team-logo-game-right {
  margin-left: 10px;
}

.team-logo-navbar {
  float:left;
  margin-right: 20px;
  margin-top: -2px;
}

.game-info {
  font-size: 12px
}

#game-info {
  padding-bottom: 0px;
}

#game-modal-left {
  float: left;
  padding: 10px;
  width: 25%;
  text-align: right;
}

#game-modal-middle {
  float: left;
  padding: 10px;
  width: 50%;
}

#game-modal-right {
  float: right;
  padding: 10px;
  width: 25%;
  text-align: left;
}

#nav-competition-table {
  float: right;
}

.champions-row {
  background-color: #FFEC8B;
}

.champions-league-row {
  background-color: #C8F5B5;
}

.europa-league-row {
  background-color: #B5D2F5;
}

.relegation-row {
  background-color: #F5B5B5;
}

#question-answer-thumbs-up {
  color:green;
}

#question-answer-thumbs-down {
  color:red;
}

.mask_character_original_value {
  display: none;
}

#table-competition-name {
  margin-bottom: -7px;
}
