* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size:  15px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

.side-navbar {
  width: 220px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  transition: 0.5s;
}

.nav-link:active {
  background-color: blue;
}

.nav-link:focus,
.nav-link:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}

.mobile-main-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

.active-cont {
  margin-left: 220px;
}

#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}

.team-nav-link {
  padding-top: 3px;
  padding-bottom: 3px;
}

.side-navbar-scroll {
  overflow-y: auto;
}
